/* Index Page */
.page_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "city map map"
    "city map map"
    "city map map";
}
.map {
  grid-area: map;
}
.city {
  grid-area: city;
}

/* Maps component */
.map_container {
  height: 100vh;
}

/* Cities component */
.guide_container {
  margin-top: auto;
}
.card {
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.guide_block {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0.5rem 0.5rem;
}
.pointer {
  cursor: pointer;
}
.sentiment {
  margin-left: 5px;
}
.details {
  margin-top: 15px;
}
.cities_container {
  margin: 0.5rem;
}
